.Popular {
    display: grid;
    grid-template-rows: 8fr 1fr 1fr;
    align-items: end;
    height: 100%;
}

.Popular-artwork {
    grid-row: 1 / 2;
}

.Popular-buttons {
    grid-row: 3 / 4;
    justify-self: center;
}

.Popular-buttons > button {
    margin: 0 0.5em 0 0.5em;
    color: black;
    font-size: 32px;
}


