.Entity {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    padding-bottom: 2em;
}

.Entity-description {
    flex: 1 0 50%;
    font-family: 'Roboto', sans-serif;
    padding-right: 1%;
}

.Entity-description-title {
    font-size: 36px;
    margin-bottom: 0.9em;
}

.Entity-description-item {
    margin-bottom: 0.75em;
    font-size: 24px;
}

.Entity-description-item-property {
    font-weight: 700;
}

.Entity-description-item-value {
    display: flex;
    flex-wrap: wrap;
    font-style: italic;
}

.Entity-description-item-value a {
    text-decoration: none;
    color: black;
}

.Entity-description-item-value > ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.Entity-description-item-value > ul > li {
    display: inline-block;
    margin-right: 5px;
}

.Entity-description-item-value a:hover {
    text-decoration: underline;
}

.Entity-presentation {
    flex: 1 0 50%;
    display: flex;
    align-items: start;
}

.Entity-presentation-image {
    object-fit: contain !important;
    filter:
      drop-shadow(0 -2px 0 black)
      drop-shadow(0 2px 0 black)
      drop-shadow(-2px 0 0 black)
      drop-shadow(2px 0 0 black);
}

.Entity-nocontent {
    margin: auto;
}